*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 64.5%;
}

.shared{
    padding:2rem;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background:#fff;
    color:#000;
    width:35%;
    margin:1rem auto;
}

#health-levels h2{
    font-size: 2rem;
    padding:1rem 0;
}
#health-levels progress{
    width:80%;
    margin:1rem 0;
    height: 2rem;
    color: #ff0062;
    border: 1px solid #a927f5;
   
}
#bonus-life{
    background:tomato;
    color:#fff;
    padding:0.5rem 1rem;
    border-radius: 4px;
}
#controls button{
    border:none;
    outline: none;
    width:100%;
    background:tomato;
    color:#fff;
    font-size: 1.3rem;
    margin:.5rem 0;
    padding:2rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition:all .2s ease-in;
}
#controls button:hover{
    background:#ff47e6;
    color:#fff;
}